:root{
font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url("background.png");
}

h1 {
    color: azure;
}

h2 {
    color: azure;
}
button {
    background-color: white;
    border: black;
    color:  red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    border-width: 5px;
    display: block;
  }
button:hover {
    background-color: azure;
    color: black;
}